doctype html 
html
  head
    title dance academy
    block style
  body
    nav#navbar 
        ul
            #logo 
                img(src="../static/imgs/logo.png" alt="")
                | MDA
            li #[a(href = "/") Home ]              
            li #[a(href = "/") About Us ]
            li #[a(href = "/") Services ]
            li #[a(href = "/") Class Info]
            li #[a(href = "/contact") Contanct Us] 
    block content
    footer#footer 
        h3  Copyright &#169; 2021. Made by Mehak | All rights reserved
block scripts
    